<div>
  <h2 class="titulo" mat-dialog-title>Agregar Servicio</h2>

  <mat-dialog-content>
    <form class="addSrvForm row g-3" [formGroup]="formServicio">
      <div class="row">
        <div class="col-md-2  d-flex flex-column">
          <label for="exampleFormControlInput1" class="form-label">No. Contrato</label>
          <input type="text" class="form-control" [readOnly]="true"  formControlName="id_contrato" >
      </div>
      <div class="col-md-5 d-flex flex-column">
        <label for="nitinput" class="form-label">Servicio</label>
        <select class="form-select" formControlName="id_cliente" aria-label="CLiente">
            <option *ngFor="let servicio of lServicios" [value]="servicio.Id">{{servicio.Cliente}}</option>
        </select>

      </div>
      <div class="col-md-4 d-flex flex-column">
        <label for="clienteinput" class="form-label">Fecha Inicio</label>
        <input type="date" class="form-control" formControlName="fechainicio"  placeholder="">
      </div>
      <div class="col-md-4 d-flex flex-column">
        <label for="clienteinput" class="form-label">Fecha Fin</label>
        <input type="date" class="form-control" formControlName="fechafin"  placeholder="">
      </div>
      <div class="col-md-4 d-flex flex-column">
        <label for="clienteinput" class="form-label">Duración</label>
        <input type="number" class="form-control" formControlName="ans"  placeholder="">
      </div>
      <div class="col-md-4 d-flex flex-column">
        <label for="clienteinput" class="form-label">Valor Hora</label>
        <input type="date" class="form-control" formControlName="vhh"  placeholder="">
      </div>
      <div class="col-md-2 d-flex flex-column">
        <mat-label>Activo  </mat-label>
        <mat-checkbox class="example-margin" formControlName="activo" checked="true"></mat-checkbox>
      </div>

      </div>
    </form>

  </mat-dialog-content>

  <div mat-dialog-actions class="pie justify-content-end">
    <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="guardarServCont()" cdkFocusInitial>Confirmar</button>
  </div>
</div>
