<div>
  <h2 class="titulo" mat-dialog-title>Asignar Ticket de Mantenimiento</h2>

  <mat-dialog-content>
      <form class="ticket-form" [formGroup]="formAsignar">
        <mat-form-field class="example-full-width">
          <mat-label>Tiket</mat-label>
          <input matInput formControlName="id">
        </mat-form-field>

        <table class="example-full-width" cellspacing="0"><tr>
          <td>
            <mat-form-field>
              <mat-label>Fecha</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="fecha">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </td>
          <td><mat-form-field class="example-full-width">
            <mat-label>Hora</mat-label>
            <input matInput type="time" formControlName="hora">
          </mat-form-field></td>
          <td>
            <mat-form-field>
              <mat-label>Prioridad</mat-label>
              <mat-select formControlName="prioridad">
                @for (prior of prioridad; track prior) {
                  <mat-option [value]="prior.value">{{prior.viewValue}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </td>
        </tr></table>

        <table class="example-full-width" cellspacing="0"><tr>
          <td>
            <mat-form-field>
              <mat-label>Tipo de Servicio</mat-label>
              <mat-select formControlName="id_tecnico">
                @for (tiposrv of tipoServ; track tiposrv) {
                  <mat-option [value]="tiposrv.ID">{{tiposrv.TIPOSERVICIO}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Servicio  </mat-label>
              <mat-select formControlName="id_tecnico">
                @for (srv of servicios; track srv) {
                  <mat-option [value]="srv.id_servicio">{{srv.Descripcion}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Tecnico Asignado</mat-label>
              <mat-select formControlName="id_tecnico">
                @for (tecnico of tecnicos; track tecnico) {
                  <mat-option [value]="tecnico.id">{{tecnico.nombre}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </td>
        </tr></table>

        <div class="row">
            <mat-form-field class="example-full-width">
              <mat-label>Descripcion del Servicio</mat-label>
              <textarea matInput formControlName="descripcion" rows="4"
                        placeholder="Detalle del mantenimiento que solicita."></textarea>
            </mat-form-field>
        </div>


      </form>

  </mat-dialog-content>

  <div mat-dialog-actions class="pie justify-content-end">
    <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="grabar()" cdkFocusInitial>Confirmar</button>
  </div>
</div>
