<div class="form-container bg-white p-3">
  <span class="row d-flex flew-wrap justify-content-between align-item-center p-1 ps-3 pe-3 w-100 mb-2">
    <div class="card p-0">
      <div class="card-header">

        <div class="row">
          <div class="col-6">
            <h2>Administrar Servicios</h2>
          </div>
          <div class="col-6 text-end">
            <button mat-raised-button color="primary" (click)="regresar()">
              <mat-icon>reply</mat-icon>
              Regresar
            </button>
            <button class="btnGuardar" mat-raised-button (click)="guardarServicio()">
              <mat-icon>save</mat-icon>
              Guardar
            </button>
          </div>
        </div>

      </div>
      <div class="card-body  mt-3">
        <form [formGroup]="formServicios">
          <div class="row g-2">
            <div class="mb-3 col-2">
              <label for="idinput" class="form-label">Id</label>
              <input type="number" class="form-control" formControlName="id"
                     placeholder="Nuevo" id="idinput">
            </div>
            <div class="mb-3 col-9">
              <label for="clienteinput" class="form-label">Descipción</label>
              <input type="text" class="form-control" formControlName="descripcion"  placeholder="" id="clienteinput">
            </div>

            <div class="mb-3 col-12">
              <label for="observacionesinput" class="form-label">Tipo de Servicio</label>
              <select class="form-select" formControlName="id_tiposervicio">
                <option  *ngFor="let tiposerv of vTipoServicio" [value]="tiposerv.id">{{tiposerv.TIPOSERVICIO}}</option>
              </select>
            </div>

            <div class="mb-3 col-12">
              <label for="observacionesinput" class="form-label">Observaciones</label>
              <textarea type="text" class="form-control" rows="2" formControlName="observaciones"  placeholder="" id="observacionesinput"></textarea>

            </div>
            <div class="mb-3 col-3">
              <div class="form-check">
                <input class="form-check-input" formControlName="activo" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                  Activo
                </label>
                <div class="invalid-feedback">
                  You must agree before submitting.
                </div>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </span>
</div>
