<div class="flex flex-col text-left">
  <label for="{{name}}" class="block text-gray-700 text-sm font-semibold mb-2">{{label}}</label>
  <select [name]="name" multiple
          [(ngModel)]="data()[name]"
          class="rounded-md border border-gray-300 dark:border-gray-700 text-gray-800 dark:text-gray-50 bg-white dark:bg-gray-800 pl-1 py-1.5 shadow-sm ring-1 ring-inset focus:outline-none ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6 max-h-40 overflow-y-auto w-full"
          (change)="onChange($event)">
    <option *ngFor="let option of options" [value]="option.value" [selected]="value.includes(option.value)">
      {{ option.name }}
    </option>
  </select>
</div>
