<div>
  <h2 class="titulo" mat-dialog-title>{{titulo}}</h2>

  <mat-dialog-content>
    <form class="addSrvForm row g-3" [formGroup]="formTecnicoContrato">
      <div class="row">
        <div class="col-md-2  d-flex flex-column">
          <label for="exampleFormControlInput1" class="form-label">No. Contrato</label>
          <input type="number" class="form-control" formControlName="id_contrato" >
        </div>
        <div class="col-md-5 d-flex flex-column">
          <label for="nitinput" class="form-label">Tecnicos</label>
          <select class="form-select" formControlName="id_tecnico">
              <option *ngFor="let tecnico of dsTecnicos" [value]="tecnico.id">{{tecnico.nombre}}</option>
          </select>
        </div>
      </div>
    </form>

  </mat-dialog-content>

  <div mat-dialog-actions class="pie justify-content-end">
    <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="guardarTecnicoCont()" cdkFocusInitial>Confirmar</button>
  </div>
</div>
