.btnGuardar{
    background: green;
    color: white;
    margin-left: 5px;
  }

  .cRutas:hover {
    background-color: #215b96;
    border-color: #6dbc13;
    color: white;
    font-style: italic;
  }

  .selected-card {
    background-color: #215b96;
    border-color: #6dbc13;
    color: white;
    font-style: italic;
  }
  .datoServicio{
    background-color: rgb(242, 242, 241);
    border-radius: 10px;
  }

  .divCostos{
    margin-left: 0px;
  }
