<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <ul>
      <li>Servicios Asignados</li>
      <li>
        <a class="icon-link" href="#">
          <svg class="bi" aria-hidden="true"><use xlink:href="#box-seam"></use></svg>
          Check list diario
        </a>

      </li>
      <li><a class="btn btn-primary" >Cerrar</a></li>

    </ul>

    <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    ...
  </div>
</div>
