<div class="form-container bg-white p-3">
  <span class="row d-flex flew-wrap justify-content-between align-item-center p-1 ps-3 pe-3 w-100 mb-2">
    <div class="card">
      <div class="card-header">

        <div class="row">
          <div class="col-6">
            <h2>Administrar Ordenes de Trabajo (OIT)</h2>
          </div>
          <div class="col-6 text-end">
            <button mat-raised-button color="primary" (click)="regresar()">
              <mat-icon>reply</mat-icon>
              Regresar
            </button>
            <button class="btnGuardar" mat-raised-button (click)="guardarOrden()">
              <mat-icon>save</mat-icon>
              Guardar
            </button>
          </div>
        </div>

      </div>
      <div class="card-body  mt-3">
        <form [formGroup]="frmCabeceraOrden">
          <div class="row g-2">
            <div class="mb-3 col-4">
              <label for="nitinput" class="form-label">OIT</label>
              <input type="text" class="form-control" formControlName="OIT" id="oitinput">
            </div>
            <div class="mb-3 col-4">
              <label for="clienteinput" class="form-label">Cliente</label>
              <input type="text" class="form-control" formControlName="cliente"  placeholder="" >
            </div>

            <div class="mb-3 col-4">
              <label for="nitinput" class="form-label">Nit</label>
              <input type="text" class="form-control" formControlName="nit"  placeholder="">
            </div>

            <div class="mb-3 col-6">
              <label for="exampleFormControlInput1" class="form-label">Direccion</label>
              <input type="text" class="form-control" formControlName="direccion"  placeholder="">
            </div>

            <div class="mb-3 col-6">
              <label for="exampleFormControlInput1" class="form-label">Correo</label>
              <input type="email" class="form-control" formControlName="correo" placeholder="example@yourcompany.com">
            </div>
            <div class="mb-3 col-4">
              <label for="exampleFormControlInput1" class="form-label">Autorizador</label>
              <input type="text" class="form-control" formControlName="autoriza" >
            </div>
            <div class="mb-3 col-2">
              <label for="exampleFormControlInput1" class="form-label">Telefono</label>
              <input type="text" class="form-control" formControlName="telefono" placeholder="">
            </div>
            <div class="mb-3 col-2">
              <label class="form-label">Fecha Entrada</label>
              <input type="date" class="form-control" formControlName="fechaentrada" placeholder="">
            </div>
            <div class="mb-3 col-2">
              <label class="form-label">Hora Entrada</label>
              <input type="time" class="form-control" formControlName="horaentrada" placeholder="">
            </div>
            <div class="mb-3 col-2">
              <label class="form-label">Fecha Cotizacion</label>
              <input type="date" class="form-control" formControlName="fechaentregacotizacion" placeholder="">
            </div>
            <div class="mb-3 col-2">
              <label class="form-label">Fecha de Autorizacion</label>
              <input type="date" class="form-control" formControlName="fechaautorizacion" placeholder="">
            </div>
            <div class="mb-3 col-2">
              <label class="form-label">Fecha Entrega Pactada</label>
              <input type="date" class="form-control" formControlName="fechaentregapactada" placeholder="">
            </div>
            <div class="mb-3 col-2">
              <label class="form-label">Fecha Salida</label>
              <input type="date" class="form-control" formControlName="fechasalida" placeholder="">
            </div>
            <div class="mb-3 col-2">
              <label for="exampleFormControlInput1" class="form-label">Prioridad</label>
              <select class="form-select" formControlName="id_prioridad" aria-label="Prioridad">
                  <option *ngFor="let estado of lEstado" [value]="estado.id">{{estado.estado}}</option>
              </select>
            </div>
            <div class="mb-3 col-2">
              <label for="exampleFormControlInput1" class="form-label">Estado</label>
              <select class="form-select" formControlName="estado" aria-label="Prioridad">
                  <option *ngFor="let priori of prioridad" [value]="priori.codigo">{{priori.prioridad}}</option>
              </select>
            </div>
            <div class="mb-3 col-2">
              <label for="exampleFormControlInput1" class="form-label">Tipo Formato</label>
              <select class="form-select" formControlName="id_formato" aria-label="Prioridad">
                <option *ngFor="let formato of formatos" [value]="formato.id">{{formato.formato}}</option>
              </select>
            </div>
          </div>

        </form>
      </div>
     <!-- INICIA ARMADO DE SECCIONES-->
      <div class="card secciones mt-3" *ngFor="let sec of secciones">

      <form [formGroup]="frmDetalleOrden">
        <div class="card-header  bg-slate-700 " style="color: #fff;">
          {{sec.seccion}}
        </div>
        <div class="card-body campos">
          <ng-container *ngFor="let campo of campos">
            <div *ngIf="campo.id_seccion === sec.id">
              <div class="row bg-slate-200">
                <label>{{campo.nombrecampo}}</label>
              </div>
              <div class="row" *ngFor="let propcampo of propieCampo">
                <!-- Traemos, buscamos y mostramos las propiedades de los campos-->
                <ng-container *ngIf="propcampo.id_campo === campo.id_campo" >

                  <div class="col mb-3" *ngIf="propcampo.tipopropiedad === 'texto'">
                    <label class="">{{propcampo.propiedad}}</label>
                    <input class="form-control" type="text" [formControlName]="campo.nombrecampo" [value]="campo.valorcampo">
                  </div>

                  <div class="form-check col-2 mb-3" *ngIf="propcampo.tipopropiedad === 'booleano'">
                    <label class="form-check-label">{{propcampo.propiedad}}</label>
                    <input class="form-check-input" type="checkbox" [formControlName]="campo.nombre"
                            [checked]="campo.valorcampo === '1'">
                  </div>

                  <div class="col mb-3" *ngIf="propcampo.tipopropiedad === 'numerico'">
                    <label>{{propcampo.propiedad}}</label>
                    <input class="form-control" type="number" [value]="campo.valorcampo">
                  </div>
                  <div class="col-12 mb-3" *ngIf="propcampo.tipopropiedad === 'comentario'">
                    <label>{{propcampo.propiedad}}</label>
                    <textarea class="form-control">{{campo.valorcampo}}</textarea>
                  </div>
                  <div class="col mb-3" *ngIf="propcampo.tipopropiedad === 'fecha'">
                    <label>{{propcampo.propiedad}}</label>
                    <input class="form-control" type="date" [value]="campo.valorcampo">
                  </div>
                  <div class="col mb-3" *ngIf="propcampo.tipopropiedad === 'hora'">
                    <label>{{propcampo.propiedad}}</label>
                    <input class="form-control" type="time" [value]="campo.valorcampo">
                  </div>
                  <div class="col mb-3" *ngIf="propcampo.tipopropiedad === 'lista'">
                    <label>{{propcampo.propiedad}}</label>
                  </div>
                 
                </ng-container>
              </div>
            </div>
          </ng-container>
        </div>
      </form>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-6">
           
          </div>
          <div class="col-6 text-end">
            <button mat-raised-button color="primary" (click)="regresar()">
              <mat-icon>reply</mat-icon>
              Regresar
            </button>
            <button class="btnGuardar" mat-raised-button (click)="guardarOrden()">
              <mat-icon>save</mat-icon>
              Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
  </span>
</div>