<div class="container">
  <h2 class="titulo" mat-dialog-title>Crear Campo</h2>
  <button class="cerrar" aria-label="Cerrar" (click)="regresar()">X</button>
</div>

  <mat-dialog-content>
    <form class="sucursal-form" [formGroup]="formCampos">
      <div class="row g-2">

        <div class="mb-3 col-12">
          <label for="nombrecampoinput" class="form-label">Nombre campo</label>
          <input type="text" class="form-control" formControlName="nombrecampo" id="nombrecampoinput">
        </div>
        
        <!-- Propiedades (Checkboxes) -->
        <div class="col-12 mt-3">
          <span class="block text-sm text-gray-700 font-semibold">Selecciona las propiedades usar:</span>
          <div style="max-height: 150px; overflow-y: auto; border: 1px solid #ccc; padding: 10px;">
            <div class="flex flex-col space-y-2">
              <div *ngFor="let propiedad of listPropiedades">
                <div class="flex items-center">
                  <input type="checkbox" class="form-checkbox h-5 w-5 text-gray-600 mr-2" 
                    [value]="propiedad.propiedad" (change)="onCheckboxChange($event)">
                  <label class="text-sm text-gray-700">
                    {{ propiedad.propiedad }}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Checkbox 'Activo' colocado después del input de texto -->
        <div class="col-md-2 d-flex flex-column mt-3">
          <mat-checkbox class="example-margin" formControlName="activo" checked="true">Activo</mat-checkbox>
        </div>

      </div>
    </form>
  </mat-dialog-content>

  <div mat-dialog-actions class="pie justify-content-end">
    <button mat-raised-button color="warn" (click)="regresar()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="guardarCampo()" cdkFocusInitial>Confirmar</button>
  </div>
