<div class="form-container bg-white p-3">
    <div class="row d-flex flex-wrap justify-content-between align-items-center p-1 ps-3 pe-3 w-100 mb-2">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <h2>Administrar creación de campos</h2>
                    </div>
                    <div class="col-6 text-end">
                        <button mat-raised-button color="primary" (click)="regresar()">
                            <mat-icon>reply</mat-icon>
                            Regresar
                        </button>
                        <button mat-raised-button class="btnGuardar" (click)="guardarCampo()">
                            <mat-icon>save</mat-icon>
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body mt-3">
      <form class="sucursal-form" [formGroup]="formCampos">
        <div class="row g-2">
  
          <div class="mb-3 col-12">
            <label for="nombrecampoinput" class="form-label">Nombre campo</label>
            <input type="text" class="form-control" formControlName="nombrecampo" id="nombrecampoinput">
          </div>
          
          <!-- Propiedades (Checkboxes) -->
          <div class="col-12 mt-3">
            <span class="block text-sm text-gray-700 font-semibold">Selecciona las propiedades usar:</span>
            <div style="max-height: 150px; overflow-y: auto; border: 1px solid #ccc; padding: 10px;">
              <div class="flex flex-col space-y-2">
                <div *ngFor="let propiedad of listPropiedades">
                  <label class="inline-flex items-center text-sm text-gray-700">
                    <input type="checkbox" class="form-checkbox h-5 w-5 text-gray-600" [value]="propiedad.propiedad" (change)="onCheckboxChange($event, propiedad)">
                    {{ propiedad.propiedad }}
                  </label>
                </div>
              </div>
            </div>
          </div>
  
          <!-- Checkbox 'Activo' colocado después del input de texto -->
          <div class="col-md-2 d-flex flex-column mt-3">
            <mat-checkbox class="example-margin" formControlName="activo" checked="true">Activo</mat-checkbox>
          </div>
  
        </div>
      </form>
  
  </div>
  