<div class="form-container bg-white p-3">
  <span class="row d-flex flew-wrap justify-content-between align-item-center p-1 ps-3 pe-3 w-100 mb-2">
    <div class="card">
      <div class="card-header">

        <div class="row">
          <div class="col-6">
            <h2>Administrar Tecnicos</h2>
          </div>
          <div class="col-6 text-end">
            <button mat-raised-button color="primary" (click)="regresar()">
              <mat-icon>reply</mat-icon>
              Regresar
            </button>
            <button class="btnGuardar" mat-raised-button color="success" (click)="guardarTecnico()">
              <mat-icon>save</mat-icon>
              Guardar
            </button>
          </div>
        </div>

      </div>
      <div class="card-body  mt-3">
        <form [formGroup]="formTecnico">
          <div class="row g-2">
            <div class="mb-3 col-4">
              <label for="nitinput" class="form-label">Numero Identificación</label>
              <input type="number" class="form-control" formControlName="numerodocumento" id="nitinput">
            </div>
            <div class="mb-3 col-4">
              <label for="clienteinput" class="form-label">Nombre</label>
              <input type="text" class="form-control" formControlName="nombre"  placeholder="" id="clienteinput">
            </div>

            <div class="mb-3 col-4">
              <label for="clienteinput" class="form-label">Apellido</label>
              <input type="text" class="form-control" formControlName="apellidos"  placeholder="" id="clienteinput">
            </div>

            <div class="mb-3 col-10">
              <label for="exampleFormControlInput1" class="form-label">Direccion</label>
              <input type="text" class="form-control" formControlName="direccion"  placeholder="">
            </div>

            <div class="mb-3 col-10">
              <label for="exampleFormControlInput1" class="form-label">Email</label>
              <input type="email" class="form-control" formControlName="email" placeholder="example@yourcompany.com">
            </div>
            <div class="mb-3 col-3">
              <label for="exampleFormControlInput1" class="form-label">Telefono</label>
              <input type="text" class="form-control" formControlName="telefono" placeholder="">
            </div>
            <div class="mb-3 col-3">
              <label for="exampleFormControlInput1" class="form-label">Tipo Sangre</label>
              <input type="text" class="form-control" formControlName="tiposangre" placeholder="">
            </div>

            <div class="foto">
              <div class="row">
                <img class="imagen" [src]="formTecnico.get('foto')?.value" alt="Imagen" *ngIf="formTecnico.get('foto')?.value">
              </div>

              <div class="row" *ngIf="formTecnico.get('numerodocumento').value">
                <app-cargardocs [option]="'tecnico'" [id]="idTecnico" ></app-cargardocs>
              </div>
            </div>

            <div class="mb-3 col-3">

                <label for="exampleFormControlInput1" class="form-label">Foto</label>
                <input type="text" class="form-control" formControlName="foto"  placeholder="">

            </div>

            <div class="mb-3 col-3">
              <div class="form-check">
                <input class="form-check-input" formControlName="activo" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                  Activo
                </label>
                <div class="invalid-feedback">
                  You must agree before submitting.
                </div>
              </div>
            </div>

          </div>

        </form>
      </div>
        <div class="row especialidades" *ngIf="activarBotones">
          <nav class="navbar sticky-top bg-body-tertiary">
            <div class="container-fluid titulobarra bg-slate-700" >
              <a class="navbar-brand" style="color: #fff;">Especialidades</a>
              <button mat-raised-button color="primary" (click)="agregarEspecialidad()">
                <mat-icon>add_circle</mat-icon>
                Agregar Especialidad
              </button>
            </div>

          </nav>

            <app-tabladinamica
                  [columnas]="columnEspecialidades"
                  [dataSource]="listEspecialidades"
                  [filtro]="false"
                  ></app-tabladinamica>
        </div>

        <div class="">
          <app-cargardocs></app-cargardocs>
        </div>

        <div class="row documentos titulobarra mt-3"  *ngIf="activarBotones">
          <nav class="navbar sticky-top">
            <div class="container-fluid bg-slate-700">
              <a class="navbar-brand" style="color: #fff;">Documentos del Tecnico</a>
              <button mat-raised-button color="primary" (click)="agregarDocumentos()">
                <mat-icon>add_circle</mat-icon>
                Agregar Documentos
              </button>
            </div>

          </nav>
          <div class="row">
            <app-tabladinamica
                  [columnas]="columnDocumentos"
                  [dataSource]="listDocs"
                  [filtro]="false"
                  [manejaDoc]="true"
                  ></app-tabladinamica>
            <!--table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Descripcion</th>
                  <th scope="col">Activo</th>
                  <th scope="col">Opciones</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Certificado de Alturas</td>
                  <td>Certificacion por la U de Juan E Salinas</td>
                  <td>1</td>
                  <td>
                    <button mat-icon-button
                    type="button" class="btn btn-primary" >
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button
                    type="button" class="btn btn-danger" >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Licencia de manejo</td>
                  <td>Comentaqrio de la licencia</td>
                  <td>1</td>
                  <td>
                    <button mat-icon-button
                    type="button" class="btn btn-primary" >
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button
                    type="button" class="btn btn-danger" >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table-->
          </div>
        </div>

    </div>
  </span>
</div>




