<div>
    <h2 class="titulo" mat-dialog-title>Agregar Documentos</h2>
  
    <mat-dialog-content>
        <form [formGroup]="formDocs">
          <div class="row mt-3 g-2">
            <div class="row">
              <label for="fechaemisioninput" class="form-label">Tipo de Documento</label>
              <select class="form-select" formControlName="documento" aria-label="Especialidad" >
                  <option *ngFor="let doc of listDocumentos" [value]="doc.id">{{doc.nombre}}</option>
              </select>
            </div>
            <div class="mb-3 col-3">
                <label for="fechaemisioninput" class="form-label">Vehiculo</label>
                <select class="form-select" formControlName="id_vehiculo" aria-label="Especialidad" >
                    <option *ngFor="let car of listVehiculos" [value]="car.id">{{car.placa}}</option>
                </select>
              </div>
            <div class="mb-3 col-3">
              <label for="fechaVencimiento" class="form-label">Numero Documento</label>
              <input type="text" class="form-control" formControlName="numerodoc"  placeholder="">
            </div>
            <div class="mb-3 col-3">
              <label for="fechaemisioninput" class="form-label">Fecha Emision</label>
              <input type="date" class="form-control" formControlName="fechaexpedido"  placeholder="" id="nombreinput">
            </div>
  
            <div class="mb-3 col-3">
              <label for="fechaVencimiento" class="form-label">Fecha Vencimiento</label>
              <input type="date" class="form-control" formControlName="fechavence"  placeholder="">
            </div>
            <div class="mb-3 ">
              <label for="observacioens" class="form-label">Observaciones</label>
              <textarea type="text" rows="2" class="form-control" formControlName="observaciones"  placeholder=""></textarea>
            </div>
            <div class="mb-3 col-3">
              <div class="form-check">
                    <input class="form-check-input" formControlName="activo" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label" for="invalidCheck">Activo</label>
                </div>
            </div>
  
          </div>
  
  
        </form>
  
    </mat-dialog-content>
  
    <div mat-dialog-actions class="pie justify-content-end">
      <button mat-raised-button color="warn" (click)="regresar()">Cancelar</button>
      <button mat-raised-button color="primary" (click)="guardarDocumento()" cdkFocusInitial>Confirmar</button>
    </div>
  </div>
  
  