<div class="form-container bg-white p-3">
    <span class="row d-flex flew-wrap justify-content-between align-item-center p-1 ps-3 pe-3 w-100 mb-2">
      <div class="card p-0">
        <div class="card-header">
  
          <div class="row">
            <div class="col-6">
              <h2>Administrar Tarifas de Servicios</h2>
            </div>
            <div class="col-6 text-end">
              <button mat-raised-button color="primary" (click)="regresar()">
                <mat-icon>reply</mat-icon>
                Regresar
              </button>
            </div>
          </div>
  
        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="formTarifa">
                        <div class="row g-2">

                            <div class="mb-1 col-6">
                              <label for="nitinput" class="form-label">Cliente</label>
                              <select class="form-select" formControlName="id_cliente"
                                      aria-label="propietario" >
                                  <option *ngFor="let cli of listClientes" [value]="cli.Id">{{cli.Cliente}}</option>
                              </select>
                            </div>

                            <div class="mb-1 col-4">
                              <label for="exampleFormControlInput1" class="form-label">Tipo Tarifa</label>
                              <select class="form-select" formControlName="id_tipotarifa"
                                      aria-label="propietario" >
                                  <option *ngFor="let tipotar of listTipoTarifas" [value]="tipotar.id">{{tipotar.tipotarifa}}</option>
                              </select>
                            </div>

                            <div class="mb-1 col-2">
                              <label for="exampleFormControlInput1" class="form-label">Codigo</label>
                              <input type="text" class="form-control" formControlName="codigo"  placeholder="*opcional">
                            </div>

                            <div class="mb-1 col-4">
                                <label for="exampleFormControlInput1" class="form-label">Tipo Vehiculo</label>
                                <select class="form-select" formControlName="id_tipovehiculo"
                                        aria-label="propietario" >
                                    <option *ngFor="let tipov of listTipoVehiculos" [value]="tipov.idtipovehiculo">{{tipov.tipovehiculo}}</option>
                                </select>
                              </div>
                            
                            <div class="mb-1 col-6">
                              <label for="exampleFormControlInput1" class="form-label">Origen / Destino</label>
                              <input type="text" class="form-control" formControlName="origendestino"  placeholder="" id="clienteinput">
                            </div>

                            <div class="mb-1 col-2">
                                <label for="exampleFormControlInput1" class="form-label">Zona</label>
                                <select class="form-select" formControlName="id_zona"
                                        aria-label="propietario" >
                                    <option *ngFor="let zona of listZonas" [value]="zona.idzonas">{{zona.zona}}</option>
                                </select>
                            </div>
                            
                            <div class="mb-1 col-2">
                              <label for="exampleFormControlInput1" class="form-label">Capacidad</label>
                              <input type="number" class="form-control" formControlName="capacidad"  placeholder="" id="clienteinput">
                            </div>
              
                            <div class="mb-1 col-3">
                              <label for="clienteinput" class="form-label">Valor</label>
                              <input type="number" class="form-control" formControlName="valor"  placeholder="" id="clienteinput">
                            </div>
              
                            <div class="mb-1 col-3">
                              <label for="clienteinput" class="form-label">Costo</label>
                              <input type="number" class="form-control" formControlName="costo"  placeholder="" id="clienteinput">
                            </div>
              
                            <div class="mb-1 col-2">
                              <label for="clienteinput" class="form-label">Fecha de vencimiento</label>
                              <input type="date" class="form-control" formControlName="fechavencimiento"  placeholder="" id="clienteinput">
                            </div>
                
                            <div class="mb-1 col-2">                             
                                <input class="form-check-input" formControlName="activa" type="checkbox" value="" id="invalidCheck" required>
                                <label class="form-check-label" for="invalidCheck">
                                  Activo
                                </label>
                            </div>
                            <div class="col-2">
                              <button mat-raised-button color="primary" (click)="agregarTarifa()">
                                <mat-icon>add</mat-icon>
                                Agregar
                              </button>
                            </div>
                
                          </div>
                    </form>
                      
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-header">
                    <h3 class="mb-0">Tarifas del Cliente</h3>
                </div>
                <div class="card-body">

                  <table mat-table [dataSource]="listTarifas" matSort 
                        matSortActive="created" matSortDisableClear table-striped
                    matSortDirection="desc">
                    <ng-container *ngFor="let column of columnas" [matColumnDef]="column">
                      <th mat-header-cell *matHeaderCellDef>{{ column | titlecase }}</th>
                      <!--td mat-cell *matCellDef="let element">{{ element[column] }}</!--td-->
                      <td mat-cell *matCellDef="let element">
                        <!-- Validar si el nombre de la columna contiene "fecha" y aplicar el formato adecuado -->
                        <ng-container *ngIf="column.includes('fecha')||column.includes('Fecha'); else defaultCell">
                          {{ element[column] | date: 'yyyy-MM-dd' }}
                        </ng-container>
                        <!-- Validar si el nombre de la columna es "foto" y mostrar la imagen -->
                        <ng-template #defaultCell>
                          <ng-container *ngIf="column === 'foto'; else textCell">
                            <img [src]="element[column]" alt="Foto" class="img-thumbnail" width="100">
                          </ng-container>
                          <!-- Mostrar el contenido normal si no es una columna de fecha ni de foto -->
                          <ng-template #textCell>
                            {{ element[column] !== undefined && element[column] !== null ? element[column] : 'N/A' }}
                          </ng-template>
                        </ng-template>
      
                      </td>
                    </ng-container>
                    <!-- Columna de opciones -->
                    <ng-container matColumnDef="opciones">
                      <th mat-header-cell *matHeaderCellDef> Opciones </th>
                      <td mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="editarTarifa(element)"
                        type="button" class="btn btn-primary" >
                          <mat-icon>edit</mat-icon>
                        </button>
      
                        <button mat-icon-button (click)="eliminarTarifa(element)"
                        type="button" class="btn btn-danger" >
                          <mat-icon>delete</mat-icon>
                        </button>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnas.concat('opciones')"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnas.concat('opciones');"></tr>
      
                  </table>
                  <!--table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>twitter</td>
                      </tr>
                    </tbody>
                  </table-->
                </div>
            </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-6">
              
            </div>
            <div class="col-6 text-end">
              <button mat-raised-button color="primary" (click)="regresar()">
                <mat-icon>reply</mat-icon>
                Regresar
              </button>
              <button class="btnGuardar" mat-raised-button (click)="guardarTarifa()">
                <mat-icon>save</mat-icon>
                Guardar
              </button>
            </div>
          </div>
        </div>
      </div>
    </span>
</div>
        
