.form-container{
  width: 100%;
  height: 100dvh;
  overflow-y: auto;
}

.frmAddEsp{
  color: #5d6177;
}

.frmAddDoc{
<<<<<<< HEAD

=======
>>>>>>> 6d168f15f21eee04a919db767d8c917ae6e4e923
  color: #5d6177;
}
