  <div class="form-container bg-white p-3">
  <span class="row d-flex flew-wrap justify-content-between align-item-center p-1 ps-3 pe-3 w-100 mb-2">
    <div class="card">
      <div class="card-header">

        <div class="row">
          <div class="col-6">
            <h1 *ngIf="accion === 'crear'">Solicitud de Ticket</h1>
            <h1 *ngIf="accion != 'crear'">Ticket # {{ticketSeleccionado}}</h1>
          </div>
          <div class="col-6 text-end">
            <button mat-raised-button color="succes"  (click)="regresar()">
              <mat-icon>reply</mat-icon>
              Regresar
            </button>
            <button mat-raised-button class="btnGuardar" (click)="guardarTicket()">
              <mat-icon>save</mat-icon>
              Guardar
            </button>
          </div>
        </div>

      </div>
      <div class="card-body  mt-3">

        <!--div *ngIf="accion === 'editar'">

              <div class="row mb-3">
                <label><h2>Description</h2></label>
                <h3>
                  {{objetoData.ticket.DetalleTKT}}
                </h3>

              </div>

        </div-->

        <div ><!--=======Aqui valida si la accion enviada es crear y mostrar el formulario-->
          <form [formGroup]="formTicket">
            <div class="row g-2">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Descripcion del Servicio</label>
                <textarea class="form-control" rows="5"  formControlName="descripcion" placeholder="Detalle del servicio que solicita"></textarea>
              </div>
              <div class="mb-3 col-4">
                <label for="nitinput" class="form-label">Cliente</label>
                <select class="form-select" formControlName="id_cliente"
                        aria-label="CLiente" (change)="onSelectChange($event, 'selectCliente')">
                    <option *ngFor="let cliente of clientes" [value]="cliente.Id">{{cliente.Cliente}}</option>
                </select>
              </div>

              <div class="mb-3 col-4">
                <label for="sucursalinput" class="form-label">Sucursal</label>
                <select class="form-select" formControlName="id_sucursal" aria-label="Sucursal">
                    <option *ngFor="let sucur of cSucursales" [value]="sucur.id">{{sucur.nombre}}</option>
                </select>
              </div>

              <div class="mb-3 col-4">
                <label for="areainput" class="form-label">Area</label>
                <select class="form-select" formControlName="id_area" aria-label="Area">
                    <option *ngFor="let area of cArea" [value]="area.id">{{area.nombre}}</option>
                </select>
              </div>

              <div class="mb-3 col-2">
                <label for="clienteinput" class="form-label">Fecha</label>
                <input type="date" class="form-control" formControlName="fecha" placeholder="">
              </div>

              <div class="mb-3 col-2">
                <label for="exampleFormControlInput1" class="form-label">Hora</label>
                <input type="time" class="form-control" formControlName="hora"  placeholder="">
              </div>

              <div class="mb-3 col-2">
                <label for="exampleFormControlInput1" class="form-label">Prioridad</label>
                <select class="form-select" formControlName="prioridad" aria-label="Prioridad">
                    <option *ngFor="let priori of prioridad" [value]="priori.value">{{priori.viewValue}}</option>
                </select>
              </div>

              <div class="mb-3 col-6">
                <label for="tipotiketinput" class="form-label">Tipo de Ticket</label>
                <select class="form-select" formControlName="tipo_tiket"
                      aria-label="Tipo Ticket">
                    <option *ngFor="let tt of tipoTiket" [value]="tt.id">{{tt.descripcion}}</option>
                </select>
              </div>

              <div class="mb-3 col-4">
                <label for="exampleFormControlInput1" class="form-label">Tipo de Servicio</label>
                <select class="form-select" formControlName="id_tiposervicio"
                      (change)="onSelectChange($event, 'selectServicio')"
                      aria-label="Tipo Servicio">
                    <option *ngFor="let ts of tipoServ" [value]="ts.id">{{ts.TIPOSERVICIO}}</option>
                </select>
              </div>

              <div class="mb-3 col-8">
                <label for="exampleFormControlInput1" class="form-label">Servicio</label>
                <select class="form-select" formControlName="id_servicio" aria-label="Servicio">
                    <option *ngFor="let serv of servicios" [value]="serv.id_servicio">{{serv.Descripcion}}</option>
                </select>
              </div>



            </div>
          </form>
        </div>

        <mat-tab-group animationDuration="0ms">
          <mat-tab label="Comentarios">           <!--=======Comentarios-->
            <div class="row mt-3" *ngIf="accion==='editar'">
              <nav class="navbar sticky-top bg-body-tertiary">
                <div class="container-fluid">
                  <a class="navbar-brand">Comentarios</a>
                  <button mat-raised-button color="primary" (click)="agregarComentario(objetoData.ticket)">
                    <mat-icon>add_circle</mat-icon>
                    Agregar Comentario
                  </button>
                </div>

              </nav>
              <div class="row">
                <section class="timeline-comments">
                @for (comentario of comentarios; track comentario) {
                  <div class="comment">
                    <h2>{{comentario.usuario}}</h2>
                    <h3>{{comentario.comentario}}</h3>
                    <h4>{{comentario.fecha}}</h4>
                    <h4>{{comentario.hora}}</h4>
                  </div>
                }
                </section>
              </div>
            </div>


          </mat-tab>
          <mat-tab label="Visitas">          <!--=======Visitas-->

            <div class="row mt-3" *ngIf="accion==='editar'" >
              <nav class="navbar sticky-top bg-body-tertiary">
                <div class="container-fluid">
                  <a class="navbar-brand">Visitas</a>

                </div>

              </nav>
              <div class="row">
                <section class="timeline-comments">
                  @for (visita of visitas; track visita) {
                    <div class="visits">
                      <h2>{{visita.descripcion}}</h2>
                      <h3>Usuario: {{visita.usuariocrea}} - Inicio: {{visita.fechainicio}} - {{visita.horainicio}} | Fin: {{visita.fechafin}} - {{visita.horafin}}</h3>
                      <h3>{{visita.observaciones}}</h3>
                      <div class="row">
                        <div class="bd-example m-0 border-0">

                          <div class="row">
                            <div class="col img1"><img alt="image1" src={{visita.imagen1}} /></div>
                            <div class="col img1"><img alt="image1" src={{visita.imagen2}} /></div>
                            <div class="col img1"><img alt="image1" src={{visita.imagen3}} /></div>
                          </div>

                        </div>
                      </div>
                    </div>
                  }
                  </section>
              </div>
            </div>

          </mat-tab>
        </mat-tab-group>

      </div>
    </div>

  </span>
</div>
