<div class="container">
  <h2 class="titulo" mat-dialog-title>Asignar Tecnico - TICKET {{tiketSeleccionado}}</h2>
  <button class="cerrar" aria-label="Cerrar" (click)="cancelar()">X</button>
</div>

  <mat-dialog-content>
    <form class="ticket-form" [formGroup]="formAsignar">

      <div class="row g-2">
        <div class="mb-3">
          <label for="exInput1" class="form-label">Descripcion del Servicio</label>
          <textarea class="form-control" rows="5" [readonly]="true" formControlName="descripcion" placeholder="Detalle del servicio que solicita"></textarea>
        </div>

        <div class="mb-3 col-6">
          <label for="nitinput" class="form-label">Cliente</label>
          <input type="text" class="form-control" formControlName="cliente" [readonly]="true" >
        </div>

        <div class="mb-3 col-2">
          <label for="clienteinput" class="form-label">Fecha</label>
          <input type="date" class="form-control" formControlName="fecha" [readonly]="true">
        </div>

        <div class="mb-3 col-2">
          <label for="exampleFormControlInput1" class="form-label">Hora</label>
          <input type="time" class="form-control" [readonly]="true" formControlName="hora" [value]="this.data.data.hora">
        </div>

        <div class="mb-3 col-2">
          <label for="prioridad" class="form-label">Prioridad</label>
          <input type="text" class="form-control" formControlName="prioridad" [readonly]="true" >
        </div>

        <div class="mb-3 col-6">
          <label for="tipotiketinput" class="form-label">Tipo de Servicio</label>
          <input type="text" class="form-control" formControlName="tiposervicio" [readonly]="true" >
        </div>

        <div class="mb-3 col-12">
          <label for="exampleFormControlInput1" class="form-label">Servicio</label>
          <input type="text" class="form-control" formControlName="servicio" [readonly]="true" >
        </div>

        <div class="row">
          <h2>Tecnico Asignado</h2>
          <select class="form-select" formControlName="id_tecnico" aria-label="Tecnicos Disponibles" >
              <option *ngFor="let tecnico of tecnicos" [value]="tecnico.id">{{tecnico.nombre_completo}}</option>
          </select>
        </div>

      </div>

    </form>


  </mat-dialog-content>

  <div mat-dialog-actions class="pie justify-content-end">
    <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="grabar()" cdkFocusInitial>Guardar</button>
  </div>

