<!-- Área de contenido principal -->
<div class="form-container bg-white p-3">
    <span class="row d-flex flew-wrap justify-content-between align-item-center p-1 ps-3 pe-3 w-100 mb-2">
        <div class="card">
            <div class="card-header">

                <div class="row">
                    <div class="col-6">
                        <h2>Configuración de formatos</h2>
                    </div>
                    <div class="col-6 text-end">
                        <button mat-raised-button color="primary" (click)="regresar()">
                            <mat-icon>reply</mat-icon>
                            Regresar
                        </button>
                        <button mat-raised-button class="success" (click)="openshow()">
                            <mat-icon>save</mat-icon>
                            Guardar
                        </button>
                    </div>
                </div>

                <div class="flex flex-col h-screen bg-gray-100">

                    <div class="mb-2  ">
                            <div class="relative mb-4">
                                <input-group  type="text" [label]="'Nombre del formato'"
                                  [data]="formatoData" id="formato" name="formato" class="form-control"
                                    placeholder="Ingrese el nombre del formato" />
                            </div>
                            <div class="relative mb-4">
                                <text-area-group  class="form-control" [data]="formatoData"
                                    label="Descripcion formato" name="descripcionformato"
                                    placeholder="Ingrese la descripción correspondiente al formato que desea crear"
                                    class="w-full"></text-area-group>
                            </div>
                    </div>

                    <!-- Contenedor de las 4 secciones  -->
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-2 p-2">
                        <!-- Campo de entrada para el nombre del formato -->
                        <!-- Sección 1- Tabla de secciones-->
                        <div class="bg-white p-4 rounded-md">
                            <h2 class="text-gray-500 text-lg font-semibold pb-4">Secciones</h2>
                            <div class="my-1"></div> <!-- Espacio de separación -->
                            <div class="bg-gradient-to-r from-cyan-300 to-cyan-500 h-px mb-6"></div>
                            <!-- Línea con gradiente -->
                            <table class="w-full table-auto text-sm">
                                <thead>
                                    <tr class="text-sm leading-normal">

                                        <th
                                            class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">
                                            Nombre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        @for( seccion of listSecciones(); track seccion; let i = $index){
                                          <tr>
                                            <td class="py-2 px-4 border-b border-grey-light">
                                              <input type="checkbox" [id]="seccion.id" (click)="selecionarSeccion(i)"/>
                                              <label>{{ seccion.descripcion }}</label>
                                            </td>
                                          </tr>
                                        }
                                </tbody>
                            </table>
                            <!-- Botón-->
                            <div class="flex justify-start">
                                <app-pagination></app-pagination>
                            </div>
                            <div class="text-right mt-4">
                                <button (click)="openModal()"
                                    class="bg-cyan-500 hover:bg-cyan-600 text-white font-semibold py-2 px-4 rounded">
                                    Agregar
                                </button>
                            </div>
                        </div>
                        <!-- Sección 2- Tabla de campos -->
                        <div class="bg-white p-4 rounded-md">
                            <h2 class="text-gray-500 text-lg font-semibold pb-4">Campos</h2>
                            <div class="my-1"></div> <!-- Espacio de separación -->
                            <div class="bg-gradient-to-r from-cyan-300 to-cyan-500 h-px mb-6"></div>
                            <!-- Línea con gradiente -->
                            <table class="w-full table-auto text-sm">
                                <thead>
                                    <tr class="text-sm leading-normal">
                                        <th
                                            class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">
                                            Nombre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  @for( campo of listCampos(); track campo; let i = $index){
                                    <tr>
                                        <td class="py-2 px-4 border-b border-grey-light">
                                          <input type="checkbox" [id]="campo.id" (click)="selecionarSeccion(i)"/>
                                          <label>{{ campo.nombrecampo }}</label>
                                      </td>
                                    </tr>
                                  }
                                  </tbody>
                            </table>

                            <!-- Botón-->
                            <div class="flex justify-start">
                                <app-pagination></app-pagination>
                            </div>
                            <div class="text-right mt-4">
                                <button (click)="opendModal()"
                                    class="bg-cyan-500 hover:bg-cyan-600 text-white font-semibold py-2 px-4 rounded">
                                    Agregar
                                </button>
                            </div>
                        </div>
                        <div class="mt-4">
                            <button (click)="guardarDatos()" class="bg-cyan-500 hover:bg-cyan-600 text-white font-semibold py-2 px-4 rounded">
                                Agregar al contenido del formato
                            </button>
                        </div>

                    </div>
                    <div class="bg-white p-4 rounded-md">
                        <h2 class="text-gray-500 text-lg font-semibold pb-1">Contenido del formato</h2>
                        <div class="my-1"></div> <!-- Espacio de separación -->
                        <div class="bg-gradient-to-r from-cyan-300 to-cyan-500 h-px mb-6"></div>
                        <!-- Línea con gradiente -->
                        <div class="chart-container" style="position: relative; height: 150px; width: 100%;">
                            <table class="border-collapse w-full">
                                <thead>
                                    <tr>
                                        <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Sección</th>
                                        <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Campos</th>
                                        <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Orden</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let secciones of seccionesSeleccionadas">
                                        <td class="p-3 text-gray-800 text-center border border-gray-300">{{ secciones.seccion }}</td>
                                        <td class="p-3 text-gray-800 text-center border border-gray-300">
                                            <ul>
                                                <li *ngFor="let campo of camposSeleccionados">{{ campo.campo }}</li>
                                            </ul>
                                        </td>
                                        <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                                            <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Status</span>
                                            <div class="inline-flex space-x-2 items-center">
                                                <input-group type="text" [label]="'Orden'" [data]="ordenData" id="orden" name="orden" placeholder="Ingrese el orden" />
                                                <button
                                                    class="text-white bg-indigo-500 border-0 py-0.5 px-2 focus:outline-none hover:bg-indigo-600 rounded text-xs"
                                                    type="submit" (click)="guardarOrden()">Guardar</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="flex justify-start mt-4">
                            <app-pagination></app-pagination>
                        </div>
                    </div>
                </div>

             
             
                <app-create-seccion [showModal]="showModal" (onSave)="guardarSeccion($event)" />

                <app-modal [ngClass]="{ 'showmodal': showmodal() }" [isShow]="showmodal" [opacidad]="true">
                    <div class="modal-overlay" *ngIf="showmodal()">
                        <div class="modal-content">
                            <section class="text-gray-600 body-font relative">
                                <div class="container px-5 py-24 mx-auto flex">
                                    <div
                                        class="lg:w-full md:w-full bg-white rounded-lg p-8 flex flex-col w-full mt-10 relative z-10 shadow-md">
                                        <button
                                            class="close-button text-right text-cyan-500 hover:text-cyan-600 text-2xl font-semibold"
                                            (click)="closedModal()">×</button>
                                        <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">Campos</h2>
                                        <p class="leading-relaxed mb-5 text-gray-600">Diligencie los datos
                                            correspondientes del campo que desea crear</p>

                                            <div class="relative mb-4">
                                                <input-group  class="form-control"
                                              [data]="campoData" label="Nombre del campo" type="text" id="nombrecampo"
                                                    name="nombrecampo" class="w-full" />
                                            </div>

                                        <div class="relative mb-4">
                                            <div class="flex items-center mb-2">
                                                <!-- Título -->
                                                <label class="block text-gray-700 text-sm font-semibold mr-4">Selecciona
                                                    las propiedades del campo a utilizar</label>

                                                <!-- Botón para agregar -->
                                                <button type="button"
                                                    class="btn btn-secondary text-blue-500 text-xs p-1 ml-auto"
                                                    (click)="open()">
                                                    +
                                                </button>
                                            </div>
                                            <ng-container *ngFor="let propiedad of campoData().propiedad; let i = index">
                                                <desplegable
                                                  [value]="selectedDesplegableValue"
                                                  name="propiedad"
                                                  [options]="options()"
                                                  class="w-full"
                                                  [label]="propiedad.propiedad"
                                                  [data]="propiedadData"
                                                  (valueChange)="onDesplegableValueChange($event)">
                                                </desplegable>
                                              </ng-container>
                                        </div>

                                        <div class="relative mb-4">
                                            <app-tabladinamica [columnas]="['Nombre', 'Propiedades']"
                                                [dataSource]="dataSource">
                                            </app-tabladinamica>
                                        </div>
                                        <button
                                            (click)="guardarCampo()"
                                            class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Guardar</button>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </app-modal>

                <app-modal [ngClass]="{ 'Modal': Modal() }" [isShow]="Modal">
                    <div class="modal-overlay" *ngIf="Modal()">
                        <div class="modal-content">
                            <!-- Botón de cerrar dentro del modal-content -->

                            <!-- Contenido del modal -->
                            <section class="text-gray-600 body-font relative">
                                <div class="container px-5 py-24 mx-auto flex">
                                    <div
                                        class="lg:w-full md:w-full bg-white rounded-lg p-8 flex flex-col w-full mt-10 relative z-10 shadow-md">
                                        <button
                                            class="close-button text-right text-cyan-500 hover:text-cyan-600 text-2xl font-semibold"
                                            (click)="close()">×</button>
                                        <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">Crear propiedades
                                        </h2>

                                        <p class="leading-relaxed mb-5 text-gray-600">Diligencie los datos
                                            correspondientes a la propiedad que desea crear</p>
                                            <div class="relative mb-4">
                                                <input-group  class="form-control" [data]="propiedadData"
                                                    label="Nombre propiedad" type="text" id="propiedad" name="propiedad"
                                                    class="w-full" />
                                            </div>
                                            <div class="flex items-center mb-2">
                                                <!-- Título -->
                                                <label class="block text-gray-700 text-sm font-semibold mr-4">Selecciona
                                                    el tipo de propiedad a utilizar</label>

                                                <!-- Botón para agregar -->
                                                <button type="button"
                                                    class="btn btn-secondary text-blue-500 text-xs p-1 ml-auto"
                                                    (click)="Selec()">
                                                    +
                                                </button>
                                            </div>
                                            <desplegable [value]="selectedDesplegableValue" name="tipopropiedad"
                                                [options]="options()" (valueChange)="onDesplegableValueChange($event)">
                                            </desplegable>
                                        <button
                                            class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
                                            (click)="guardarPropiedad()">Guardar</button>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </app-modal>

                <app-modal [ngClass]="{ 'Mod': Mod() }" [isShow]="Mod">
                    <div class="modal-overlay" *ngIf="Mod()">
                        <div class="modal-content">
                            <!-- Botón de cerrar dentro del modal-content -->

                            <!-- Contenido del modal -->
                            <section class="text-gray-600 body-font relative">
                                <div class="container px-5 py-24 mx-auto flex">
                                    <div
                                        class="lg:w-full md:w-full bg-white rounded-lg p-8 flex flex-col w-full mt-10 relative z-10 shadow-md">
                                        <button
                                            class="close-button text-right text-cyan-500 hover:text-cyan-600 text-2xl font-semibold"
                                            (click)="cerrar()">×</button>
                                        <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">Crear tipos de
                                            propiedades</h2>

                                        <p class="leading-relaxed mb-5 text-gray-600">Diligencie los datos
                                            correspondientes al tipo de propiedad que desea crear</p>
                                            <div class="relative mb-4">
                                                <input-group [data]="propiedadData" class="form-control"
                                                    label="Nombre tipo de propiedad" type="text" id="tipopropiedad"
                                                    name="tipopropiedad" class="w-full" />
                                            </div>
                                        <button
                                          (click)="guardarTipoPropiedad()"   class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg" (click)="guardarPropiedad()">Guardar</button>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </app-modal>

                <app-modal [ngClass]="{ 'Show': Show() }" [isShow]="Show" [opacidad]="true">
                    <div class="modal-overlay" *ngIf="Show()">
                        <div class="modal-content flex items-center justify-center fixed inset-0 bg-black/50">
                            <!-- Modal content container -->
                            <div class="mx-auto max-w-xl rounded-xl bg-white p-6 shadow-lg ring-1 ring-gray-900/10">
                                <p class="text-sm leading-6 text-gray-900 font-semibold">
                                    ¿Desea guardar el formulario y finalizar el proceso de creación?
                                </p>
                                <div class="mt-4 flex items-center gap-x-5">
                                    <button type="button"
                                        (click)="guardarFormato()"
                                        class="rounded-md bg-gray-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900">Si</button>
                                    <button (click)="closED()" type="button"
                                        class="text-sm font-semibold leading-6 text-gray-900 shadow-sm hover:bg-gray-700 hover:text-blue-700">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </app-modal>

            </div>
        </div>
      </span>
    </div>
