<div class="form-container bg-white p-3">

  <span class="row d-flex flew-wrap justify-content-between align-item-center p-1 ps-3 pe-3 w-100 mb-2">
    <div class="col-lg-2 col-md-12 col-sm-12">
      <div class="card h-screen">
        <div class="card-header">
          <h2>Filtros</h2>
        </div>
        <div class="card-body">
          
            <ol class="list-group list-group-numbered">
              @for (card of cards; track $index) {
                <li (click)="filtrarEstado(card.title)" class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">{{ card.title }}</div>
                  </div>
                  <span class="badge text-bg-primary rounded-pill">{{ card.value }}</span>
                </li>
              }
            </ol>
          
          <div class="row filtros ml-1">
            <div class="row mt-2">
              <input type="text" class="form-control" placeholder="No. Contrato">
            </div>
            <div class="row mt-2">
              <select id="inputState" class="form-select" placeholder="Cliente...">
                <option selected>Cliente...</option>
                <option>...</option>
              </select>
            </div>
            <div class="row mt-2">
              <select id="inputState" class="form-select" placeholder="Servicio...">
                <option selected>Servicio...</option>
                <option>...</option>
              </select>
            </div>
            <div class="row mt-2">
              <button mat-raised-button color="primary" (click)="filtrarOtros()">
                <mat-icon>filter_alt</mat-icon>
                Filtrar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-10 col-md-12 col-sm-12">
      <div class="card p-0">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <h2>Servicios</h2>
            </div>
            <div class="col text-end">
              <!--button mat-raised-button color="primary" (click)="crearContrato()"-->
              <button mat-raised-button color="primary" (click)="digitar()">
                <mat-icon>add_circle</mat-icon>
                Nuevo
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          
          <div class="container text-center">
          </div>
          <app-tabladinamica-tr [filtro]="false" [columnas]="colum" 
                  [dataSource]="listServFiltrado" [formMaestro]="'transporte/admrecorridos'"></app-tabladinamica-tr>
        </div>

      </div>
    </div>
  </span>
</div>

