<div class="form-container bg-white p-3">
    <div class="row d-flex flex-wrap justify-content-between align-items-center p-1 ps-3 pe-3 w-100 mb-2">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <h2>Administrar creación de formatos</h2>
                    </div>
                    <div class="col-6 text-end">
                        <button mat-raised-button color="primary" (click)="regresar()">
                            <mat-icon>reply</mat-icon>
                            Regresar
                        </button>
                        <button mat-raised-button class="btnGuardar" (click)="guardarFormato()">
                            <mat-icon>save</mat-icon>
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
                <div class="card-body mt-3">
                    <form [formGroup]="formFormato">
                        <div class="row g-3 mb-4"> 
                            <div class="col-md-4">
                                <label for="formatoinput" class="form-label">Nombre</label>
                                <input type="text" class="form-control" formControlName="formato"
                                    placeholder="Ingresa el nombre del formato" id="formatoinput" required />
                            </div>
                            <div class="col-md-6">
                                <label for="descripcionformatoInput" class="form-label">Descripción</label>
                                <textarea class="form-control" rows="2" formControlName="descripcionformato" 
                                    placeholder="Ingresa la descripción del formato" id="descripcionformato" required></textarea>
                            </div>
                            <div class="col-md-2 d-flex align-items-center"> 
                                <div class="form-check">
                                    <input class="form-check-input" formControlName="activo" type="checkbox" id="activoCheck">
                                    <label class="form-check-label" for="activoCheck">
                                        Activo
                                    </label>
                                    <div class="invalid-feedback">
                                        Debes activar esta opción.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    

                <!-- Contenedor para Secciones y Campos uno al lado del otro -->
                <div class="row mb-4"> 
                    <div class="d-flex justify-content-between align-items-start w-100">
                        <!-- Secciones -->
                        <div class="secciones-container flex-fill">
                            <nav class="navbar bg-body-tertiary" *ngIf="formatoSeleccionado !== 0">
                                <div class="container-fluid">
                                    <a class="navbar-brand">Secciones</a>
                                    <button mat-icon-button color="primary" (click)="agregarSeccion()" style="padding: 4px;">
                                        <mat-icon style="font-size: 20px;">add_circle</mat-icon>
                                      </button>                                      
                                </div>
                                <!-- Bloque de selección de propiedades para Secciones -->
                                <div class="col-12 mt-3">
                                    <span class="block text-sm text-gray-700 font-semibold">Selecciona las secciones a usar:</span>
                                    <div style="max-height: 150px; overflow-y: auto; border: 1px solid #ccc; padding: 10px;">
                                      <div class="flex flex-col space-y-2">
                                        <div *ngFor="let seccion of listSecciones">
                                            <label class="inline-flex items-center text-sm text-gray-700">
                                              <input 
                                                type="radio" 
                                                name="seccion"  
                                                class="form-radio h-5 w-5 text-gray-600" 
                                                [value]="seccion.seccion"
                                                (change)="seleccionarSeccion(seccion.seccion)">
                                              {{ seccion.seccion }}
                                            </label>
                                          </div>
                                      </div>
                                    </div>
                                  </div>                                                         
                            </nav>
                        </div>
                        <!-- Campos -->
                        <div class="campos-container flex-fill ms-3">
                            <nav class="navbar bg-body-tertiary" *ngIf="formatoSeleccionado !== 0">
                                <div class="container-fluid">
                                    <a class="navbar-brand">Campos</a>
                                    <button mat-icon-button color="primary" (click)="agregarCampos()" style="padding: 4px;">
                                        <mat-icon style="font-size: 20px;">add_circle</mat-icon>
                                      </button>                                                                          
                                </div>
                                <!-- Bloque de selección de propiedades para Campos -->
                                <div class="col-12 mt-3">
                                    <span class="block text-sm text-gray-700 font-semibold">Selecciona los campos a usar:</span>
                                    <div style="max-height: 150px; overflow-y: auto; border: 1px solid #ccc; padding: 10px;">
                                      <div class="flex flex-col space-y-2">
                                        <div *ngFor="let campo of listCampos">
                                            <label class="inline-flex items-center text-sm text-gray-700">
                                              <input 
                                                type="checkbox" 
                                                class="form-checkbox h-5 w-5 text-gray-600" 
                                                [value]="campo.nombrecampo"
                                                (change)="seleccionarCampo(campo.nombrecampo, $event)">
                                              {{ campo.nombrecampo }}
                                            </label>
                                          </div>                                       
                                      </div>
                                    </div>
                                  </div>
                            </nav>
                        </div>
                    </div>
                </div>

                <nav class="navbar bg-body-tertiary" *ngIf="formatoSeleccionado !== 0">
                    <div class="container-fluid justify-content-end"> 
                        <button class="btn btn-primary" color="primary" mat-raised-button (click)="guardarCampoFormato()">
                            <mat-icon>save</mat-icon>
                            Agregar campos al formato
                        </button>
                    </div>
                </nav>
                
                
                <div class="componentes-container mt-4"> 
                    <nav class="navbar bg-body-tertiary" *ngIf="formatoSeleccionado !== 0">
                        <div class="container-fluid">
                            <a class="navbar-brand">Campos Formato</a>
                        </div>
                        <!-- Contenedor con scroll horizontal y vertical para la tabla -->
                        <div class="col-12 mt-4">
                            <div class="overflow-auto" style="max-height: 300px;">
                                <div class="relative shadow-md sm:rounded-lg">
                                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                          <tr>
                                            <th scope="col" class="px-6 py-3">Nombre Sección</th>
                                            <th scope="col" class="px-6 py-3">Nombre Campo</th>
                                            <th scope="col" class="px-6 py-3">Orden</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <ng-container *ngFor="let fila of filas; let i = index">
                                              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                                <td class="px-6 py-4">{{ fila.seccion }}</td>
                                                <td class="px-6 py-4">{{ fila.campo }}</td>
                                                <td class="px-6 py-4">
                                                  <input type="text" class="form-input" name="orden" placeholder="Ingresa el orden" id="orden" value="orden"
                                                    (change)="agregarOrden($event,i)"
                                                   />
                                            </td>
                                              </tr>
                                          </ng-container>
                                        </tbody>
                                      </table>
                                      <button mat-raised-button class="btnGuardar" (click)="guardarCamposFormato()">
                                        <mat-icon>save</mat-icon>
                                        Guardar
                                    </button>                                      
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
