/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
  --grey-100: #d5d5dd;
  --grey-300: #b7b7be;
}

.bg-grey-100{
  background-color: var(--grey-100)!important;
}

.w-170px{
  width: 170px;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
